version: '3.7'
services:
  jenkins:
    build:
      context: .
    container_name: jenkins
    image: "jenkins"
    restart: always
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - $PWD/jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - net
  nexus:
    container_name: nexus3
    image: "sonatype/nexus3"
    restart: always
    ports: 
      - "8081:8081"
    volumes:
      - $PWD/nexus:/nexus-data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - net
  gogs:
    container_name: gogs
    image: "gogs/gogs"
    restart: always
    ports:
      - "10022:22"
      - "10080:3000"
    volumes:
      - $PWD/gogs/data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - net
networks:
  net:
